{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<hr class="border border-primary border-2 opacity-95">
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Маркетплейс</th>
      <th class="text-center">Наименование товара</th>
      <th class="text-center">Бренд</th>
	  <th class="text-center">Первоначальная цена</th>
	  <th class="text-center">Текущая цена</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data_item %}
  {% if i.last_price == -1 %}
    <tr class="table-secondary" style="height: 40px;">
  {% elif i.last_price < i.price %}
    <tr class="table-success" style="height: 40px;">
  {% elif i.last_price > i.price %}
    <tr class="table-danger" style="height: 40px;">
  {% else %}
	<tr class="table-default" style="height: 40px;">
  {% endif %}
      <td class="text-center">{{ i.mtplace.name }}</td>
		{% if i.name_for_user %}
		<td class="text-center">{{i.name_for_user}}</td>
		{% else %}
		<td class="text-center">{{i.name}}</td>
		{% endif %}
      <td class="text-center">{{ i.brand }}</td>
	  <td class="text-center">{{ i.price }}</td>
	  {% if i.out == True %}
	  <td class="text-center"><b>Товар закончился</b></td>
	  {% else %}
	  <td class="text-center">{{ i.last_price }}</td>
	  {% endif %}
	  <td>
		  <a href="{{ i.get_absolute_url }}" class="btn btn-outline-secondary btn-sm">Смотреть</a>
		  <a href="{% url 'update_item' i.pk %}" class="btn btn-outline-secondary btn-sm">Редактировать</a>
	  </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block navigation %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
		{% if page_obj.has_previous %}
		<li class="page-num">
			<a href="?page={{ page_obj.previous_page_number }}"></a>
		</li>
		{% endif %}

        {% for p in paginator.page_range %}
		{% if page_obj.number == p %}
		<li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}
        {% endfor %}

		{% if page_obj.has_next %}
		<li class="page-num">
			<a href="?page={{ page_obj.next_page_number }}"></a>
		</li>
		{% endif %}

    </ul>
</nav>
{% endif %}
{% endblock %}