{% extends 'base.html' %}

{% block content %}
<ul class="list-articles">
	{% for i in data_item %}
		<li><div class="article-panel">
	<p class="first">Маркетплейс: {{i.mtplace.name}}</p>
	<p class="last">Бренд: {{i.brand}}</p>
    </div>
			<h2>{{i.name}}</h2>
    {% autoescape off %}
	{{i.content|linebreaks|truncatewords:40}}
    {% endautoescape %}
		<div class="clear"></div>
		<p class="link-read-post"><a href="{{ i.get_absolute_url }}">Смотреть товар</a>
			<a href="{% url 'update_item' i.pk %}">Редактировать товар</a></p>
		</li>
	{% endfor %}
</ul>
{% endblock %}
