{% extends 'base.html' %}

{% block breadcrumbs %}
<!-- Теги -->
{% with item.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
    <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<p>{{ item.name_for_user }}</p>
<p>{{ item.brand }}</p>
<p>{{ item.rating }}</p>

<p>-------------</p>

{% for i in history %}
    <p>{{ i.time_create }}</p>
    <p>{{ i.name }}</p>
    <p>{{ i.price }}</p>
{% endfor %}
{% endblock %}