{% extends 'base.html' %}

{% block breadcrumbs %}
<!-- Теги -->
{% with item.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
    <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<h1>{{title}}</h1><br>
{{graph}}
{{graph_actual}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Количество отзывов</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Остатки на складе</th>
      <th scope="col">Цена</th>
      <th scope="col">Дата / время обновления</th>
    </tr>
  </thead>
  <tbody>
  {% for i in history %}
    <tr>
      <td>{{ i.feedbacks }}</td>
      <td>{{ i.rating }}</td>
      <td>{{ i.volume }}</td>
      <td>{{ i.price }}</td>
      <td>{{ i.time_create }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}